* {
    box-sizing: border-box;
  }

.hidden {
    display: none;
}

html { 
  background: url(https://i.imgur.com/d5BkuOn.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

input[type=text]{
  border: 2px solid white;
}

input[type=text]:hover {
  border: 2px solid rgb(99, 151, 247);
}

h1 {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

h3, p {
  width: 75%;   
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Navigation Buttons */

button:hover {
  cursor: pointer;
  opacity: 1;
}

.cocktails, .appetizers, .celebrity, .homebutton {
  height: 66px;
  width: 100px;
  font-weight: bold;
  opacity: 0.8;
  border: none;
  border-radius: 5px;
}

.cocnav > button {
  border: none;
  border-radius: 5px;
  background-color: rgba(94, 94, 94, 0.808);
  color: white;
  height: 50px;
  width: 100px;
}

.homebutton {
  background: url(https://i.imgur.com/5OhVzT1.jpg) no-repeat center center;
  background-size: 100px;
  color: white;
}

.cocktails {
  background: url(https://i.imgur.com/li7Yby9.jpg) no-repeat center center;
  background-size: 100px;  
}

.appetizers {
  background: url(https://i.imgur.com/YNUtyNn.jpg) no-repeat center center;
  background-size: 100px;
}

.celebrity {
  background: url(https://i.imgur.com/PAVxAgW.jpg) no-repeat center center;
  background-size: 100px;
}

.inactive {
  color: blue;
  height: 66px;
  width: 100px;
  opacity: 0.8;
  border: none;
  border-radius: 5px;
}

.homenav, .pagenav, .cocnav {
  display: flex;
  justify-content: space-evenly;
}

.submit {
  background-color: rgba(94, 94, 94, 0.87);
  color: white;
  font-weight: 400;
  border: none;
  opacity: 0.8;
  border-radius: 2px;
  cursor: pointer;
}
  
.submit::after{
  opacity: .5;
  transition: 0.5s;
}

.submit:hover {
  opacity: 1;
  right: 0;
}

/* Results pages */

.results {
  text-align: left;
}

.appimage, .cocimage {
  height: 200px;
  border-radius: 5px;
}

.celimage {
  height: 100px;
  border-radius: 5px;
}

.totheside{
  display: flex;
  border: 1px solid black;
}

.ingredientList {
  list-style: none;
}

.femaleCelResults, .maleCelResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.femaleCelResults >li, .maleCelResults >li {
  margin: 5px;
  padding: 5px;
  width: fit-content;
  list-style: none;
  text-align: center;
  border: 1px solid rgba(94, 94, 94, 0.644);
}

.overlay {
  position: absolute;
  top: 50%;
  left:25%;
  text-decoration: none;
  font-weight: 500;
  color: black;
  width: fit-content;
  text-align: center;
  z-index: 1;
  padding: 5px;
  background: rgba(128, 128, 128, 0.562);
}

.appli {
  position: relative;
  width: fit-content;
  text-align: center;
}

.deleteItem {
  height: 100px;
  background: url(https://i.imgur.com/joOffsu.jpg) no-repeat center center;
  background-size: 150px;
  border: none;
  width: 80px;
  opacity: 0.5;
}

.deleteItem:hover {
  opacity: 1;
}

.drinkname {
  height: 100px;
  width: 100px;
  text-align: center;
  border: 2px solid red;
}